@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Welcome...</h3>
    <p class="clearfix">An Simple Application Using EF and LINQ Queries... Click below</p>
    <p><a href="/Find/Search" class="btn btn-success">View Demo</a></p>
</div>

